<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>BEMAP</title>
  <link rel="stylesheet" href="Estilos.css">
</head>
<body>
	<div class="barra-navegacion">
		<img src="logo.png" width="30" height="30">
		<div class="logo">BEMAP</div>
		<a href="index.html"style="margin-left: 10px; color: white;">Inicio</a>
        <a href="/foro"style="margin-left: 10px; color: white;">Foro</a>
	</div>
  <div class="container2">
    <img src="BEMAPDesc.png">
    <div class="text">
      <h1>BEMAP</h1>
      <p>¡Descarga Nuestra Aplicación Ahora!</p>
      <p>Te damos la bienvenida a la página de descarga de nuestra emocionante aplicación, 
		  una herramienta que transformará tu vida de manera sorprendente.</p>
      <a href="#">DESCARGAR</a><br>
      <a href="#">DESCARGAR</a>
    </div>
  </div>
  <button type="button" onclick="history.back()">Regresar</button>
</body>
</html>
