<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Login</title>
  <link rel="stylesheet" href="Estilos.css">

</head>
<body>
	<div class="barra-navegacion">
		<img src="logo.png" width="30" height="30"/>
		<div class="logo">BEMAP</div>
        <a href="Index.html"style="margin-left: 10px; color: white;">Inicio</a>
        <a href="/foro"style="margin-left: 10px; color: white;">Foro</a>
        <a href="/descarga" style="margin-left: 10px; color:white;margin-right: 20px;">App</a>
    </div>
<div class="login-container">
    <h2>Iniciar Sesión</h2>
    <form class="login-form">
        <div class="form-group">
            <label for="username">Nombre de Usuario:</label><br>
            <input type="text" id="username" name="username" required>
        </div>
        <div class="form-group">
            <label for="password">Contraseña:</label><br>
            <input type="password" id="password" name="password" required>
        </div>
        <div class="form-group">
            <button type="submit">Iniciar Sesión</button>
        </div>
        <a href="/register">Registrate en BEMAP</a>
    </form>
</div>
</body>
</html>